@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body{
	font-family: "Lora", serif;
 	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	background-color: #c8f386;
	padding: 0;
	margin: 0;
}
a{
	color: #284200;
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	padding-right: 100px;
	margin: 0;
}
main {
	padding-bottom: 200px;
}
footer {
	padding-top: 200px;
}
.main_i {
	padding-bottom: 200px;
}
.footer_i {
	padding-top: 200px;
}
.header{
	background-color: #fff;
}
.header .conteiner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
}
.header_logo{

}
.header_nav a{
	opacity: 0.7;
}
.header_nav a:hover {
	opacity: 1;
}
.header_nav a.active{
	opacity: 1;
	text-decoration: underline;
}
.header_list{
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
}
.header_list a{
	display: inline-block;
	padding: 30px;
}

.start{
	padding-left: 175px;
	padding-top: 50px;
	background-image: url("./img/gal4.jpg" );
	background-size: cover;
    background-position: center; 
}
.start .conteiner{	
	width: 700px;
}
.subtitle{
	font-size: 16px;
	color: #243d24;
	text-shadow: 2px 2px 5px white;
}
.title{
	font-size: 58px;
	color: #243d24;
	text-shadow: 2px 2px 5px white;
}
.description{
	color: #243d24;
	padding-bottom: 50px;
	text-shadow: 2px 2px 5px white;
}
.button{
	padding: 10px 25px;
	outline: none;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	background-color: #243d24;
	color: #fff;
	box-shadow: 2px 2px 5px white;
}
.start_1{
	padding-left: 175px;
	padding-top: 50px;
	background-image: url("./img/cont.jpg" );
	background-size: cover;
    background-position: bottom; 
}
.start_2{
	padding-left: 175px;
	padding-top: 50px;
	background-image: url("./img/about1.jpg" );
	background-size: cover;
    background-position: center; 
}
.start_3{
	padding-left: 175px;
	padding-top: 50px;
	background-image: url("./img/volontjorstvo.jpg" );
	background-size: cover;
    background-position: bottom; 
}
.start_4{
	padding-left: 175px;
	padding-top: 50px;
	background-image: url("./img/Zemlya.jpg" );
	background-size: cover;
    background-position: center; 
}
.blocks {
    display: flex;
    background-color: #fff;
    margin: 0 55px;
    padding: 30px 20px;
}

.block-item {
    flex: 1 1 auto;
    max-width: 500px;
    margin: 0 auto 40px;
    border: 1px solid #ccc;
}

.block-image img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.block-content {
    padding: 10px;
    font-size: 12px;
}

.block-content p {
    margin: 0;
    font-size: 14px;
    color: #284200;
}
.blocks_news{
    background-color: #fff;
    margin: 0 55px;
    padding: 30px 20px;
}
.block_news-item{
	display: flex;
	border: 2px solid #284200;
	margin: 10px;
	padding: 20px;
}
.block_news-content h2{
	margin: 0;
	padding: 20px;
    color: #284200;
}
.block_news-content p{
	margin: 0;
	padding: 20px;
    font-size: 18px;
    color: #284200;
}
.section{
	padding: 80px 0; 
}
.main_header{
	margin: 0 auto 40px;
	width: 100%;
	max-width: 1500px;
	text-align: center;

}
.about_subtitle{
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	color: #284200;
}
.about_title{
	font-size: 28px;
	color: #284200;
}
.about_title:after{
	content: "";
	margin: 30px auto 0;
	display: block;
	width: 80px;
	height: 3px;
	background-color: gray;
}
.about_text{
	font-size: 18px;
	color: #284200;
}
.about{
	display: flex;
	justify-content: space-between;
}
.about_item{
	width: 330px;
	position: relative;
	
}
.about_item:hover .about_img img{
	transform: translate3d(-10px, -10px, 0);
}
.about_item:hover .about_img img{
	opacity:0.1;
}
.about_item:hover .about_desk{
	opacity:1;
}
.about_img{
	background: linear-gradient(to bottom, #ecbe6a ,#fff
	);
	transition: transform .2s linear;
}
.about_img img{
	display: block;
	transition: opacity .1s linear; 
}
.about_desk{
	width: 80%;
	text-transform: uppercase;
	text-align: center;
	opacity: 0;
	padding-left: 25px;
	position: absolute;
	top: 0.50%
	z-index: 2;
	transform: translate3d(0, -150%, 0);
	transition: opacity .1s linear;
	color: #284200;
}
.header_our h1 {
  	font-size: 50px;
  	color: #284200;
  	background: linear-gradient(to bottom, #ecbe6a ,#fff
	);

}
.footer{
	width: 100%;
	position: relative;
}
.title_text h4{
	color: #284200;
	font-size: 20px;
}
.title_text h4{
	font-size: 40px;
}
.footer_index{
	background: url("./img/Zemlya.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.footer_left, .footer-right{
	flex-basis: 35%;
	padding: 10px;
	margin-bottom: 20px;
}
.footer-right{
	text-align:right;
}
.footer h2{
	margin: 10px 0;
}
.contacts_us{
	font-size: 26px;
	padding-top: 30px;

}
.contacts_us h2{
	text-align: center;
}
.contacts_us .row{
	padding: 15px;
	margin: 0 50px;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid #284200;
	box-shadow: 2px 2px 5px white;
	background-color: #fff;
}
.contacts_us .row form{
	flex: 1 1 40rem;
	padding:2rem;
}
.contacts_us .row .map{
	flex: 1 1 50rem;
	width: 100%;
}
.contacts_us .row form .input_conteiner{
	position: relative;
}
.contacts_us .row form .input_conteiner input,
.contacts_us .row form .input_conteiner textarea{
	width: 100%;
	margin: 1rem 0.5rem;
	padding: 1rem 0;
	border: 2px solid #284200;
	box-shadow: 2px 2px 5px #284200 ;
	font-size: 24px;
}
